<!-- .ejs file uses HTML + JavaScript -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric Horn</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='app.js'></script>
    <link rel="icon" href="images/favicon.ico">
    <script src="https://kit.fontawesome.com/7cf437eba7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main class="home_about">
        <div class="spacer"></div>
        <h2 >Software Developer</h2>
        <p class="indent">
            Eric Horn is a passionate and results-driven software developer from Annapolis, MD. Beginning his career in technical support, Eric developed a strong aptitude for problem-solving, communication, and empathy, which led to a management role leading cross-functional teams within customer service. This managerial experience gave him invaluable insight into project coordination, reporting, and taking specific actions to yield desired outcomes. Over time, Eric transitioned into a project management role where he oversaw the installation of telecom equipment for hundreds of projects each year. 
        </p>
        <p class="indent">
            After a spending a few years in project management, Eric returned to school to pursue a Bachelor of Science in Computer Science. During his studies, Eric gained proficiency in multiple programming languages, including Python, C, C++, JavaScript, and Assembly, and honed expertise in both front-end and back-end development. Furthermore, he worked on a variety of projects that spanned web development, database management, and algorithm optimization. Some of these projects included building responsive web applications using Node.js and Express, creating data-driven applications with SQL and SQLite databases, and developing computer graphics in OpenGL. He also gained experience with version control tools like Git and GitHub, as well as the Agile and waterfall development methodologies.
        </p>
        <p class="indent">

        </p>
    </main>
    <footer>
        <p class="center">
            &copy; 
            <span id="year">
                <script>
                    document.getElementById("year").appendChild(document.createTextNode(new Date().getFullYear()))
                </script>
            </span>
            Eric Horn
        </p>
    </footer>

      
</body>
</html>